html,
body {
    width: 100vw;
    height: 100vh;
}

#login {

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.container-recSenha {
    text-align: center;
    position: absolute;
    width: 100%;
}

.row{
    background-color: brown;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#cadastro {
    width: 35vw;
    height: 80vh;
    padding: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.11);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

<<<<<<< Updated upstream
#formExemplo{
    width: 90%;
}

#btn-enviar{
=======
#btn-enviar {
>>>>>>> Stashed changes
    float: right;
}

.form-group {
    margin-top: 20px;
}

/* responsive to mobile */

@media screen and (max-width: 767px) {
    #cadastro {
        width: 90vw;
        height: 80vh;
    }

    #formExemplo {
        overflow: auto;
    }
}