html,
body {
    height: 100%;
}

#login {

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#pag-cadastrato {
    text-decoration: none;
    color: white;
}

#cadastro {
    padding: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.11);
    margin-top: 50px;
    width: 60vh;
    height: 80vh;
}
#btn-enviar{
    float: right;
}
.form-group {
    margin-top: 20px;
}