<div id="cadastro" class="mx-auto">
<<<<<<< Updated upstream
        <form action="/save" method="POST" data-toggle="validator" role="form">
=======
        <form id="form-cadastro" action="/cadastro" method="POST" data-toggle="validator" role="form">
>>>>>>> Stashed changes
            <div class="form-group">
                <label for="textNome" class="control-label">Nome</label>
                <input id="textNome" class="form-control" placeholder="Digite seu Nome" type="text" required>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="control-label">Email</label>
                <input id="inputEmail" class="form-control" placeholder="Digite seu E-mail" type="email"
                    data-error="Por favor, informe um e-mail correto." required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="control-label">Senha</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua Senha"
                    minlength="6" required>
                <span class="help-block">Mínimo de seis (6) digitos</span>
            </div>

            <div class="form-group">
                <label for="inputConfirm" class="control-label">Confirme a Senha</label>
                <input type="password" class="form-control" id="inputConfirm" placeholder="Confirme sua Senha"
                    data-match="#inputPassword" data-match-error="Atenção! As senhas não estão iguais." required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <button id="btn-enviar" type="submit" class="mt-4 btn btn-dark btn-lg">Enviar</button>
                <button id="btn-voltar" class="mt-4 btn btn-dark btn-lg"><a href="/Index.html">Voltar</a></button>
            </div>
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
    <script src="/js/validator.min.js"></script>