<div id="novaSenha" class="container text-center">
    <div class="row" style="height:100vh; align-items: center;">
        <div class="col-md-6 offset-md-3">
            <form action="/novaSenha" method="POST">
                <div class="form-group" id="sandMail">
                    <label class="color-text" for="InputEmail">Endereço de email</label>
                    <input id="inputEmail" name="emailRec" class="form-control" placeholder="Digite seu E-mail"
                        type="email" data-error="Por favor, informe um e-mail correto." required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="inputToken" class="color-text control-label">Token</label>
                    <input type="text" class="form-control" name="inputToken"
                        placeholder="Digite seu token de recuperação de senha Senha" minlength="40" required>
                    <span class="help-block color-text">O token deve ter (40) digitos</span>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="color-text control-label">Senha</label>
                    <input type="password" class="form-control" name="inputPassword" placeholder="Digite sua Senha"
                        minlength="6" required>
                    <span class="help-block color-text">Mínimo de seis (6) digitos</span>
                </div>
                <section class="btns">

                    <button type="submit" class="mt-4 btn color-text color-gradient btn-lg">Enviar</button>
                    <button type="submit" class="mt-4 btn color-gradient btn-lg"><a href="/recSenha">Voltar</a></button>

                </section>
            </form>
        </div>
    </div>
</div>