<div class="parent">
    <div class="div1">
        <div class="name-icon">
            <img id="icon-game" src="../public/imgs/icon-game.png" alt="">
            <p id="name-game" class="color-text">Card Game</p>
        </div>
        <button id="btn-jogar" class="btn color-text color-gradient btn-lg">Jogar</button>
        <div class="menu">
            <div class="cards-icon">
                <img src="../public/imgs/icon.png" id="icon-cards" alt="">
                <a onclick="onOffDeckCards()" id="onOffDeckCards" class="text-color" href="#">Cartas</a>
            </div>
            <div class="config">
                <img src="../public/imgs/icon-config.png" id="icon-config" alt="">
                <a id="page-config" class="text-color" href="">Configurações</a>
            </div>
        </div>
        <div class="card  text-center">
            <img class="card-img-top" id="imd-card"
                src="https://greenpng.com/wp-content/uploads/2020/06/untitleddesign_1_original-103-300x300.png" alt="">
            <div class="card-header">
                <h4 class="card-title">Nome da Carta</h4>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li class="atributos">Atributo 1 <p class="valores" id="valor-att1">10</p>
                        </li>
                        <li class="atributos">Atributo 2 <p class="valores" id="valor-att2">10</p>
                        </li>
                        <li class="atributos">Atributo 3 <p class="valores" id="valor-att3">10</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h3 class="color-text">Carta Favorita</h3>
    </div>
    <div class="div2">
        <div class="img-perfil">
            <img src="../public/imgs/icon-perfil.png" alt="">
        </div>
        <div class="quadro-vitorias">
            <p id="nome-Quadro" class="color-text">Vitorias</p>
            <p id="qnt-vitorias" class="color-text">0</p>

        </div>
        <button id="btn-MudarImagem" class="btn color-gradient color-text">Mudar Imagem</button>
    </div>
    <div class="div3">
        <section id="perfil-feedback">
            <button id="bt-feedback" class="color-text">FeedBack</button>
            <img src="/public/imgs/icon-perfil.png" alt="">
        </section>

        <section id="historico">
            <h1 class="color-text">Historico</h1>
            <p class="color-text">Resultados Recentes</p>
        </section>
        <section id="container-sobre">
            <div id="sobre">
                <h4 class="color-text">Sobre</h4>
                <p class="color-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur
                    praesentium
                    minima
                    ullam illo doloremque, quis fuga minus ratione, quaerat autem itaque earum similique officia aut
                    esse atque aliquam a!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur accusantium facere pariatur
                    minus quibusdam animi excepturi natus unde cumque, minima velit facilis ratione tempore aut
                    reprehenderit sint quas, dolorum alias.</p>
            </div>
        </section>
    </div>

    <div id="deckCards" class="hide">
        <div class="cards">
            <div class="card card_front text-center">

                <img id="preview" class="card-img-top"
                    src="https://www.odetelis.com/media//colorselectorplus/swatches/209.jpg">
                <label for="fupload" class="btn btn-dark control-label label-bordered">Imagem</label>
                <input style="display:none" type="file" id="fupload" name="fupload" class="fupload form-control">

                <div class="card-header">
                    <input type="text" placeholder="Nome da Carta">
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <label for="floatingInput">Valor total: </label>
                        <input type="number" id="total" placeholder="150" style="width:35px; height:35px;" disabled="">

                        <ul class=" list-atributos">
                            <li class="atributos">Ataque
                                <input class="inputCard" onclick="onOff(id)" type="number" id="quantAtaq"
                                    name="quantAtaq" min="1" max="150">
                                <div class="input-icons" id="check-cross">

                                    <button class="btCheck" onclick="check(id)" id="btCheckAtaq" type="submit"
                                        disabled="">
                                        <img class="imgCheck" src="/public/imgs/check.ico"
                                            style="max-widht:15px; max-height:15px;" alt="">
                                    </button>

                                    <button class="btCross" id="btCrossAtaq" onclick="cross(id)" type="submit"
                                        disabled="">
                                        <img class="imgCross" src="/public/imgs/cross.png"
                                            style="max-widht:15px; max-height:15px;" alt="">
                                    </button>

                                </div>

                            </li>

                            <li class="atributos">Defesa
                                <input class="inputCard" type="number" onclick="onOff(id)" id="quantDef" name="quantDef"
                                    min="1" max="150">

                                <div class="input-icons" id="check-cross">

                                    <button disabled="true" class="btCheck" id="btCheckDef" onclick="check(id)"
                                        type="submit">
                                        <img class="imgCheck" src="/public/imgs/check.ico"
                                            style="max-widht:15px; max-height:15px;" alt="">
                                    </button>

                                    <button class="btCross" id="btCrossDef" onclick="cross(id)" type="submit"
                                        disabled="">
                                        <img class="imgCross" src="/public/imgs/cross.png"
                                            style="max-widht:15px; max-height:15px;" alt="">
                                    </button>

                                </div>
                            </li>

                            <li class="atributos">Mágia
                                <input class="inputCard" type="number" onclick="onOff(id)" id="quantMag" name="quantMag"
                                    min="1" max="150">

                                <div class="input-icons" id="check-cross">
                                    <button class="btCheck" id="btCheckMag" onclick="check(id)" type="submit"
                                        disabled="">
                                        <img class="imgCheck" src="/public/imgs/check.ico"
                                            style="max-widht:15px; max-height:15px;" alt="">
                                    </button>

                                    <button class="btCross" id="btCrossMag" onclick="cross(id)" type="submit"
                                        disabled="">
                                        <img class="imgCross" src="/public/imgs/cross.png"
                                            style="max-widht:15px; max-height:15px;" alt="">
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer mb-2">
                    <button class="btn color-gradient color-text" disabled="">Salvar</button>
                    <button class="btn color-gradient color-text" disabled="">Excluir</button>
                </div>
            </div>

            {{!-- <div class="card card_back"></div> --}}

        </div>
        <button class="btn color-gradient color-text" id="btnVolatDeck" onclick="onOffDeckCards()">Voltar</button>
    </div>
</div>

</div>