<div class="parent">
    <div class="div1">
        <div class="name-icon">
            <img id="icon-game" src="../public/imgs/icon-game.png" alt="">
            <p id="name-game" class="color-text">Card Game</p>
        </div>
        <button id="btn-jogar" class="btn color-text color-gradient btn-lg">Jogar</button>
        <div class="menu">
            <div class="cards-icon">
                <img src="../public/imgs/icon.png" id="icon-cards" alt="">
                <a id="page-cards" class="text-color" href="/">Cartas</a>
            </div>
            <div class="config">
                <img src="../public/imgs/icon-config.png" id="icon-config" alt="">
                <a id="page-config" class="text-color" href="">Configurações</a>
            </div>
        </div>
    </div>
    <div class="div2"> </div>
    <div class="div3"> </div>
</div>