<div class="container-perfil">
  <header>
    <div class="menu">
      <button class="btn-color" id="btn-jogar">Jogar</button>
    </div>
  </header>
  <main class="container__main">
    <article class="container__middle">
      <div id="perfil">
        <div id="img-perfil">
          <img width="95px" src="../public/imgs/icon-perfil.png" alt="" />
        </div>
        <p id="nome-perfil">Nome do perfil</p>
      </div>
    </article>
    <button class="btn-color" id="btn-img">Trocar imagem</button>

    <section class="container__cards">

      <button class="btn-color" id="btn-criar-carta">Criar Cartas</button>
    </section>

  </main>

</div>