
<div id="recSenha" class="container text-center">
  <div class="row" style="height:100vh; align-items: center;">
    <div class="col-md-6 offset-md-3">
      <form action="/recSenha" method="post">
        <div class="form-group" id="sandMail">
          <label for="InputEmail">Endereço de email</label>
          <input type="email" name="emailRec" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Seu email">
          <small id="emailHelp" class="form-text text-muted">
            Sua senha será enviada para o seu endereço de email.
            <br>
            Nunca vamos compartilhar seu email, com ninguém.                                               
          </small>
        </div>
        <section class="btns" >
        <button type="submit" class="mt-4 btn btn-dark btn-lg">Enviar</button>
        <button type="submit" class="mt-4 btn btn-dark btn-lg"><a href="/">Voltar</a></button>
        </section>
      </form>
    </div>
  </div>
</div>