@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);
/* Icone */

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: "Signika", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #060313 13%, #382840 100%);
    /* background: linear-gradient(180deg, #181A25 50%, #362C3D 100%); */
}
.color-gradient {
    background: linear-gradient(
        274.17deg,
        #786db6 2.7%,
        rgba(163, 107, 201, 0.53) 116.24%
    );
}

.icon {
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
}
a {
    text-decoration: none;
}
a,a:hover,.btn:hover,
.h3,
.color-text {
    color: whitesmoke;
}

.rec-senha {
    background: #362c6d;
    border: 1px solid #2c2f41;
    border-radius: 5px;
}
.rec-senha:hover {
    background: #786db6;
    color: #000000;
    border: none;
}
.btns {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#cadastro {
    padding: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.11);
    margin-top: 50px;
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form-cadastro {
    width: 90%;
}

#btn-enviar {
    float: right;
}
.form-group {
    margin-top: 20px;
}
.parent {
    display: grid;
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    margin: 88px 80px;
    width: 90vw;
    height: 90vh;
    overflow-y: auto;
    background: #181a25;
    box-shadow: 0px 12px 90px rgba(118, 83, 199, 0.12);
    border-radius: 20px;
}
::-webkit-scrollbar {
    width: 0px;
}
.div1,
.div2,
.div3 {
    height: 100%;
}
.div1 {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 20px 0 0 20px;
    background: #13141b;
    box-shadow: 0px 10px 60px rgba(19, 20, 27, 0.46);
}

.name-icon {
    display: flex;
    justify-content: center;
    margin-top: 67px;
    margin-bottom: 44px;
}
#icon-game,
#icon-config,
#icon-cards {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.menu {
    margin-left: 42px;
    margin-top: 34px;
    font-size: 18px;
}
.config {
    margin-top: 40px;
    font-size: 24px;
}
.card {
    margin: 50px auto;
    width: 220px;
}
.card > img {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    background-color: #2c2f41;
}
ul {
    padding: 0;
}
.atributos {
    display: flex;
    justify-content: space-between;
}
.div1 > h3 {
    text-align: center;
    margin-bottom: 156px;
}
#name-game {
    font-size: 24px;
}
#btn-jogar {
    width: 242px;
    height: 64px;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
}
.div1,
.div2,
.quadro-vitorias {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-perfil > img {
    margin: 25px;
    width: 184px;
    height: 184px;
    border-radius: 50%;
}
.quadro-vitorias {
    background-color: #13141b;
    border-radius: 20px;
    justify-content: center;
    width: 359px;
    height: 250px;
}
#nome-Quadro {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
#qnt-vitorias {
    font-weight: 700;
    font-size: 72px;
    line-height: 89px;
}
#btn-MudarImagem {
    margin-top: 33px;
}
.div3 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
}
#perfil-feedback {
    margin-left: auto;
}
#bt-feedback {
    background: #362c6d;
    border: 1px solid #2c2f41;
    border-radius: 12px;
    margin-right: 25px;
}
#perfil-feedback > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 39px 10px;
}
#historico,
#container-sobre {
    margin: 30px;
    height: 373px;
    background: #13141b;
    padding: 32px 25px;
    border-radius: 12px;
}
#sobre {
    background: #1c1c2a;
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    height: 100%;
}
#sobre > h4 {
    margin-bottom: 40px;
}

/* responsive to mobile */

@media screen and (max-width: 767px) {
    #cadastro,
    #login {
        width: 90vw;
        height: 80vh;
    }
    #form-cadastro {
        overflow: auto;
    }
}
